---
layout: base
---

<div>
  <h1 class="mb-8 text-center sm:text-left">About {{ name }}</h1>
  <div class="float-none sm:float-right my-auto mx-0 sm:mb-4 sm:ml-4 w-48 h-48 border border-solid border-gray-300 rounded-full">
    {% imageNjk image, name , 'rounded-full p-2'%}
  </div>
  {{ content | safe }}
</div>