---
layout: base
---

<article class="flex flex-col justify-center">
  <header class="text-center">
    <h1>{{ title }}</h1>
    <div class="mt-4 text-sm opacity-60">
      <time datetime="{{ page.date | htmlDateString }}">
        {{ page.date | readableDate }}
      </time>
      <span class="ml-2"> | </span>
      <span class="ml-2">{{ content | readingTime }} read</span>
    </div>
    <div class="my-4 text-sm">
      {% for tag in tags | pageTags %}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="font-normal no-underline items-center bg-gray-100 px-3 h-6 inline-flex text-light-primary/80 hover:text-accent hover:no-underline text-xs justify-center leading-normal whitespace-no-wrap rounded-md ml-2 first:ml-0">#{{ tag }}</a>
      {% endfor %}
    </div>
    {% if image -%}
    <figure class="sm:-mx-20">
        {% imageNjk image, title, "mt-8 w-full" %}
    </figure>
    {% endif %}
  </header>
  
  <main class="break-words pt-12">
    {{ content | safe }}
  </main>

  <aside class="mt-16">
    <h3 class="relative font-normal text-base text-gray-600 opacity-25 after:absolute after:h-px after:bg-gray-600 after:top-4 after:left-20 after:w-9/12 after:sm:w-10/12 after:content-['']">Read More</h3>
    <nav class="mt-8 flex justify-between items-center">
      {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
      {%- if nextPost %}
        <a href="{{ nextPost.url | url }}" class="rounded-lg shadow-lg transition ease-in-out delay-150 hover:scale-105 duration-300  no-underline p-4 first:mr-2 last:ml-2 only:mx-auto min-h-[8rem] min-w-[40%] hover:no-underline">
        <div>
          <h4 class="hover:underline hover:decoration-accent">{{ nextPost.data.title }}</h4>
          <div class="mt-2 text-sm text-gray-400 font-light">
            <time datetime="{{ nextPost.date | htmlDateString }}">
              {{- nextPost.date | readableDate -}}
            </time>
            <span class="mx-2"> · </span>
            <span>{{ nextPost | readingTime }} read</span>
          </div>
        </div>
        </a>
      {% endif %}

      {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
      {%- if previousPost %}
        <a href="{{ previousPost.url | url }}" class="rounded-lg shadow-lg transition ease-in-out delay-150 hover:scale-105 duration-300  no-underline p-4 first:mr-2 last:ml-2 only:mx-auto min-h-[8rem] min-w-[40%] hover:no-underline">
        <div>
          <h4 class="hover:underline hover:decoration-accent">{{ previousPost.data.title }}</h4>
          <div class="mt-2 text-sm text-gray-400 font-light">
            <time datetime="{{ previousPost.date | htmlDateString }}">
              {{- previousPost.date | readableDate -}}
            </time>
            <span class="mx-2"> · </span>
            <span>{{ previousPost | readingTime }} read</span>
          </div>
        </div>
        </a>
      {% endif %}
    </nav>
  </aside>

</article>