/* Work Item aka. project animation */

.work-item {
    .image {
        transition: all 0.5s ease-in-out !important;

        &:hover {
            transform: scale(1.1);
        }
    }

    .icon {
        font-size: 1.2em;
    }
}
