[build]
  command = "yarn run build"
  publish = "dist"
  # functions = "./src/functions"

[[plugins]]
package = "@netlify/plugin-lighthouse"

[[plugins]]
package = "netlify-plugin-cache"

  [plugins.inputs]
  paths = [
    "dist/img"
  ]

[[headers]]
  for = "/*"  
  [headers.values]
    Content-Security-Policy = "upgrade-insecure-requests;"
    X-Content-Type-Options = "nosniff"
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    Referrer-Policy = "strict-origin-when-cross-origin"

