[build]
  command = "yarn run build"
  publish = "dist"
  # functions = "./src/functions"

[[plugins]]
package = "@netlify/plugin-lighthouse"

[[plugins]]
package = "netlify-plugin-cache"

  [plugins.inputs]
  paths = [
    "img"
  ]

[[headers]]
  for = "/*"  
  [headers.values]
    Content-Security-Policy = "upgrade-insecure-requests;"
    X-Content-Type-Options = "nosniff"
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    Referrer-Policy = "strict-origin-when-cross-origin"

[[redirects]]
  from = "/assets/pa.js"
  to = "https://p.markus-haack.org/static/files/pa.js"
  status = 200
  force = true

[[redirects]]
  from = "/p/pv"
  to = "https://p.markus-haack.org/p/pv"
  status = 200
  force = true

[[redirects]]
  from = "/p/e"
  to = "https://p.markus-haack.org/p/e"
  status = 200
  force = true

[[redirects]]
  from = "/p/s"
  to = "https://p.markus-haack.org/p/s"
  status = 200
  force = true
