---
title: Oops! Not Found
layout: base
permalink: /404.html
ignore: true
eleventyExcludeFromCollections: true
---

<div class="grid place-items-center mt-8">
  <h1 class="text-8xl mt-6 before:content-[''] before:mr-0">404</h1>
  <p class="text-4xl mt-6">Oops. Page not Found,  <a href="{{ '/' | url }}">Go home</a>.</p>
</div>
<script>document.addEventListener("readystatechange", () => { if (document.readyState === "complete") { pirschNotFound(); }});</script>