--- 
layout: posts
title: Archive
description: ... read the latest or <a href="/popular/">most popular</a> postings about my projects or my work.
seo:
  description: In the archive you can find the latest and most popular posts about my projects or topics I have worked on at Adobe.
theme:
  background: bg-sandy-brown-300
  text: text-gray-900
---

{% set postslist = collections.posts | reverse %}
{% set displayyears = true %}
{% set showstats = true %}
{% include "partials/postslist.njk" %}
