---
layout: base
permalink: /opengraph/default/
---

<main class="w-[1200px] h-[630px] flex flex-row">
  <div class="basis-1/4 px-8">
    <div class="bg-gray-800 w-64 pt-56 px-6 pb-6 text-white">
      {% include 'icons/mh.svg' %}
    </div>
  </div>
  <div class="basis-3/4 mx-4 my-auto text-blue-dianne-900">
    <h2 class="text-8xl font-semibold">{{ site.name }}</h2>
    <p class="mt-8 text-2xl">Welcome to my virtual home, my little corner on the internet.</p>
  </div>
</main>