---
layout: base
permalink: /opengraph/default/
---

<main class="w-[1200px] h-[630px] flex flex-row bg-repeat-x bg-bottom bg-[url('/assets/icons/rainbow-bg.png')]">
  <div class="basis-1/4 px-8">
    <div class="bg-gray-800 w-64 pt-40 px-6 pb-6 text-white">
      {% include 'icons/mh.svg' %}
    </div>
  </div>
  <div class="basis-3/4 mx-4 mt-36">
    <h2 class="text-8xl font-semibold text-blue-dianne-900">{{ site.name }}</h2>
    <p class="mt-8 text-2xl text-blue-dianne-900">Welcome to my virtual home, my little corner on the internet.</p>
  </div>
</main>