--- 
layout: layouts/posts.njk
title: All Projects Posts
description: Check them out.
theme:
  background: bg-sandy-brown-300
  text: text-gray-900
eleventyNavigation:
  key: main
  title: Projects
  order: 1
---

{% set postslist = collections.posts | category("project") %}
{% include "partials/postslist.njk" %}

<h3 class="mt-16 mb-4 text-2xl font-medium">All Tags...</h3>
{% set tags = collections.tagList %}
{% include "partials/taglist.njk" %}