--- 
layout: posts.njk
title: Work projects
description: Some of my professional projects
theme:
  background: bg-rob-roy-300
  text: text-gray-900
eleventyNavigation:
  key: main
  title: Work
  order: 2
---

{% set postslist = collections.posts | category("work") %}
{% include "partials/postslist.njk" %}
<h3 class="mt-16 mb-4 text-2xl font-medium">All Tags...</h3>
{% set tags = collections.tagList %}
{% include "partials/taglist.njk" %}