---
layout: page
---

<section>
  <div class="float-none sm:float-right mx-auto mb-8 sm:-mt-8 sm:ml-4 sm:mb-16 w-40 h-40 sm:w-48 sm-h48">
    {% image image, "This is Markus", "rounded-full object-cover ring-1 ring-gray-200 ring-offset-8"%}
  </div>
  <div class="prose prose-lg max-w-none">
  {{ content | safe }}
  </div>
</section>