<!doctype html>
<html lang="{{ site.language }}">
{% include "partials/head.njk" %}
<body class="debug-screens flex flex-col min-h-screen text-primary leading-normal scrolling-touch">
  {% include "partials/nav.njk" %}

  {{ content | safe }}

  {% include "partials/footer.njk" %}
  {% include "partials/scroll-top-button.njk" %}
  <script src="/assets/js/main.js" type="module" defer></script>
</body>
</html>