<!doctype html>
<html lang="{{ site.language }}">
{% include "partials/head.njk" %}
<body class="debug-screens flex flex-col min-h-screen text-primary leading-normal scrolling-touch">
  {{ content | safe }}
</body>
</html>