---
layout: page
prose: false
---

{{ content | safe }}
<section class="mt-8">
  <h2 class="text-2xl sm:text-3xl mb-4 pb-4 border-b">My latest projects & posts</h2>
  {% set postslist = collections.posts | head(-6) %}
  {% include "partials/postslist.njk" %}
  <a class="w-full inline-block text-center pb-12 mb-12 mx-auto border-b" href="{{ '/projects/' | url }}">View All Projects</a>
</section>
<section id="contact">
  <div class="relative flex flex-col p-4 sm:p-8 bg-slate-50 shadow-lg">
    <div class="w-full max-w-screen-md mx-auto">
      <h3 class="mb-1">Get In Touch</h3>
      <p class="text-sm">Want to have a chat? Send me a message.</p>
      <form name="contact" method="post" action="/success">
        <input type="hidden" name="form-name" value="contact"/>
        <div class="grid grid-cols-1 md:grid-cols-2 md:gap-4 mt-2">
          <div class="mt-4">
          <input
              type="text"
              name="name"
              id="name"
              placeholder="Name"
              aria-label="Name"
              class="contact"
              spellcheck="false"
              data-ms-editor="true"/> </div>
          <div class="mt-4">
          <input type="email" name="email" id="email" placeholder="Email" aria-label="Email" class="contact"/> </div>
        </div>
        <div class="mt-4">
          <textarea
            name="message"
            id="message"
            placeholder="Message"
            aria-label="Message"
            rows="4"
            class="contact"
            spellcheck="false"
            data-ms-editor="true"></textarea>
        </div>
        <div class="mt-4">
          <button
            type="submit"
            value="Send Message"
            class="h-8 px-4 bg-mountain-300 leading-tight rounded shadow-md hover:bg-mountain-400 hover:shadow-lg
              focus:bg-mountain-400 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-mountain-400 active:shadow-lg transform
              transition focus:scale-125 hover:scale-125 duration-500 ease-in-out">
            Send Message</button>
        </div>
      </form>
    </div>
  </div>
</section>