---
layout: default
tags: pages
prose: true
---

<article class="px-8 md:px-32 pb-8 md:pb-16 justify-start font-bold">
  <div class="box-content max-w-6xl mx-auto [&>h1]:mb-4">
    <h1>{{ title }}</h1>
    <section class="max-w-none break-words {%- if prose %} prose prose-lg prose-code:before:content-none
          prose-code:after:content-none{% endif %}">
      {{ content | safe }}
    </section>
  </div>
</article>