---
layout: base
tags: pages
prose: true
---

<article>
    <h1 class="mb-4">{{ title }}</h1>
    <section class="max-w-none break-words {%- if prose %} prose prose-lg prose-code:before:content-none prose-code:after:content-none{% endif %}">
        {{ content | safe }}
    </section>
</article>