---
layout: default
---

<article class="max-w-6xl mx-auto justify-start font-bold">
  <header class="mb-4 text-center">
    {%- if images.feature %}
    <figure class="-mx-8 md:-mx-32 xl:-mx-40 {{ images.height or " h-48 md:h-2/3" }}">
      {% image images.feature, title, "object-cover w-full h-full" %}
    </figure>
    {%- endif %}
    <h1 class="mx-8 py-2 border-b md:py-8">{{ title }}</h1>
    <div class="mx-8 py-4 border-b md:justify-between md:items-start md:flex md:flex-row">
      <div class="md:my-auto text-sm text-slate-700">
        <time datetime="{{ date | htmlDateString }}">
          {{ date | readableDate }}
        </time>
        <span class="mx-2">·</span>
        <span>{{ content | readingTime }} read</span>
        <span class="mx-2">·</span>
        {%- set stats = page | pageStats(analytics) | first -%}
        {%- if stats.pageviews > 100 %}
        <span>{{ stats.pageviews }} views</span>
        {%- else %}
        <span><100 views</span>
        {%- endif %}
      </div>
      <div class="mt-2 md:-mt-2 md:w-2/3 md:flex md:justify-end">{% include "partials/taglist.njk" %}</div>
    </div>
  </header>
  <section class="mx-4 max-w-none break-words prose prose-lg prose-code:before:content-none prose-code:after:content-none">
    {{ layoutContent | safe }}
  </section>
  <copy-code></copy-code>
  <aside>
    <nav class="border-t mx-8 my-8 pt-4 md:flex-row md:flex md:justify-between text-base">
      {% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
      {% set nextPost = collections.posts | getNextCollectionItem(page) %}
      <div class="py-2 text-center sm:py-0">
        {% if previousPost %}
        <a class="text-slate-700 hover:text-mountain-600" href="{{ previousPost.url }}">← {{ previousPost.data.title
          }}</a>
        {% endif %}
      </div>
      <div class="py-2 text-center sm:py-0">
        {% if nextPost %}
        <a data-a11y="false" class="text-slate-700 hover:text-mountain-600" href="{{ nextPost.url }}">{{
          nextPost.data.title }} →</a>
        {% endif %}
      </div>
    </nav>
  </aside>
</article>