---
layout: default
tags: pages
---

<div class="px-8 md:px-32 pb-8 md:pb-16 justify-start">
  <div class="box-content max-w-6xl mx-auto [&>h1]:mb-4">
    <h1>{{ title }}</h1>
    {%- if description %}
    <p class="text-2xl">{{ description | safe }}</p>
    {%- endif %}
  </div>
</div>

<article id="posts"
  class="px-8 py-10 md:px-32 md:py-16 justify-start {{ theme.background }} {{ theme.text }}">
  <div class="box-content max-w-6xl mx-auto">
    {{ content | safe }}
  </div>
</article>