<!doctype html>
<html lang="{{ config.language }}">
  {% include "partials/head.njk" %}
  <body>
    <div class="layout-wrapper">
      {% include "partials/header.njk" %}

      <main class="main">
        {{ content | safe }}
      </main>

      {% include "partials/footer.njk" %}
    </div>
  </body>
</html>