<!doctype html>
<html lang="{{ site.language }}">
{% include "partials/head.njk" %}
  <body class="debug-screens flex flex-col min-h-screen text-primary leading-normal scrolling-touch">

    {% include "partials/header.njk" %}

    <main class="flex pb-8 flex-col px-4 min-w-0 max-w-3xl mx-auto content">
      {{ content | safe }}
    </main>

    {% include "partials/footer.njk" %}
    {% include 'partials/scroll-top-button.njk' %}
    <script
      src="/assets/js/main.js?{% version %}"
      type="module"
    ></script>
  </body>
</html>