---
theme:
 background: bg-burnt-sienna-500
 text: text-gray-900
order: 1
sitemap:
 ignore: true
---

<h2>I’m a developer,
<a href="/tags/home-automation/">home automation enthusiast</a>, married with <a href="https://www.instagram.com/seljaland/" target="_blank" rel="noopener noreferrer">my wonderful wife</a>, proud dad and a software engineer at Adobe from Leipzig, Germany.
</h2>
