---
theme:
 background: bg-sandy-brown-300
 text: text-gray-900
order: 2
sitemap:
 ignore: true
---

<h2 class="mb-8">Since you are here - check out my latest smart home and electronic projects</h2>

{% set postslist = collections.posts | category("project") | head(-3) | reverse %}
{% include "partials/postslist.njk" %}


<p class="mt-16 mb-8">The most popular projects & posts - <a href="/popular/">view all</a></p>

{%- set postslist = collections.posts | popularPosts(analytics) | head(5) -%}
<ol class="list-decimal list-inside mx-auto lg:max-w-none text-2xl bg-white shadow-lg p-4">
  {% for post in postslist %}
  <li class="my-2">
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
  </li>
  {% endfor %}
</ol>