--- 
permalink: /popular/
layout: posts
title: Popular Posts
description: The most popular articles from the past year. Want to see what's trending now? Check out the <a href="/archive/">latest</a> posts. Or explore the <a href="/popular/all/">all-time favorites</a>.
seo:
  title: The most popular projects & articles of the last 12 months.
  description: This page is a collection of the most popular projects and articles from markus-haack.com of the last 12 months.
theme:
  background: bg-sandy-brown-300
  text: text-gray-900
---

{% set postslist = collections.posts | popularPosts(analytics, 'last12Months') %}
{% set showstats = 'last12Months' %}
{% include "partials/postslist.njk" %}
