.about h1 {
    margin-bottom: 2rem;
    text-align: center;
}

.about__image {
    border-radius: 50%;
    border: solid 1px #e6e6e6;
    float: none;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
.about__image img {
    padding: 0.65em;
    margin: 0;
    border-radius: 50%;
}

.about__heading {
    font-size: var(--text-3xl);
    margin-bottom: 1rem;
}

.about__heading:before {
    color: rgba(0, 128, 0, 0.65);
    content: '//';
    font-weight: 600;
    margin-right: 0.5rem;
}

@media (min-width: 35.9375em) {
    .about h1 {
        text-align: left;
    }
    .about__image {
        float: right;
        margin: 0 0 1rem 1rem;
    }
}
