.contact__container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.contact__content {
    margin: 0 auto;
    width: 100%;
    max-width: 640px;
}

.contact__content h3 {
    margin-bottom: 20px;
}

.contact__content p {
    margin: 0 auto 30px;
    color: var(--gray);
    line-height: 1.75;
}

.contact__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 0;
}

.contact__row > div {
    margin-right: 10px;
    width: 100%;
    border-radius: 4px;
    position: relative;
    background: var(--input-background);
    transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out;
}

.contact__row > div:hover {
    background-color: var(--input-hover);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.contact__row > div:last-child {
    margin-right: 0px;
}

.contact__row input,
.contact__row textarea {
    width: 100%;
    position: relative;
    padding: 0 1em;
    border: none;
    border-radius: 4px;
    background: var(--inputBackground);
    outline: none;
    box-shadow: 0px 4px 20px 0px transparent;
    transition: 0.3s background-color ease, 0.3s box-shadow ease, 0.3s padding ease;
    resize: none;
}

.contact__row input {
    height: 56px;
}

.contact__row textarea {
    height: 100%;
    padding: 0.75em 1em;
}

.contact__actionrow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 0;
    justify-content: flex-start;
}

.contact__actionrow button {
    height: 40px;
    margin: 10px 0;
    padding: 0em 1em;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    transition: 0.3s border ease;
    color: var(--accent-dark);
}
.contact__actionrow button:focus,
.contact__actionrow button:hover {
    border-bottom-color: var(--accent-dark);
}

@media (max-width: 35.9375em) {
    .contact__container {
        padding: 2rem 0 0;
        text-align: center;
    }

    .contact__content h3 {
        margin-bottom: 15px;
    }

    .contact__content p {
        padding: 0 10px;
        margin: 0 auto 25px;
    }

    .contact__row,
    .contact__actionrow {
        padding: 0 2rem;
    }
}
