.hero {
  display: flex;
  flex-direction: column;
}

.hero h1 {
  font-size: var(--text-5xl);
  text-align: center;
  margin-bottom: 2rem;
}

.hero p {
  font-size: var(--text-2xl);
  margin-top: 1rem;
}

.hero .hero__image {
  border-radius: 50%;
  border: solid 1px #e6e6e6;
  float: none;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}
.hero img {
  padding: 0.45em;
  margin: 0;
  border-radius: 50%;
}

.hero__social-links {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 2rem;
  text-transform: uppercase;
}

.hero__social-links > li {
  margin-right: 2rem;
  margin-top: 1rem;
}

@media (min-width: 35.9375em) {
  .hero h1 {
      text-align: left;
  }
  .hero .hero__image {
      float: right;
      margin-left: 3rem;
  }
}