.layout-wrapper {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr) auto;
    min-height: 100%;
}

.main {
    display: flex;
    padding-bottom: 2rem;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: 0;
    max-width: 48.75rem;
    margin-left: auto;
    margin-right: auto;
}

.direct-link {
    font-family: sans-serif;
    text-decoration: none;
    font-size: var(--text-lg);
}

a[href].direct-link,
a[href].direct-link:visited {
    color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
    color: var(--gray);
}
