.tags > * {
    margin-right: 1rem;
    margin-top: 0.5rem;
}

.tags {
    margin-top: 1rem;
    font-size: var(--text-sm);
    margin-bottom: 1rem;
}

.tags a {
    text-decoration: none;
    color: rgb(117, 117, 117);
    align-items: center;
    background-color: var(--tags-background);
    border-radius: 0.375em;
    display: inline-flex;
    font-size: 0.8rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
}

.tags a:hover {
    color: var(--accent);
}

.post-list__wrapper {
    margin-top: 6rem;
}

.post-list__heading {
    font-size: var(--text-3xl);
    margin-bottom: 1rem;
}

.post-list__heading:before {
    color: var(--accent);
    content: '//';
    font-weight: 600;
    margin-right: 0.5rem;
}

.post-list {
    list-style: none;
}

.post-list__item a {
    text-decoration: none;
}

.post-list__item article {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 transparent, 0 0 transparent, 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);

    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.3s;

    --scale-x: 1;
    --scale-y: 1;
    transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scaleX(var(--scale-x)) scaleY(var(--scale-y));
}

.post-list__item article:hover {
    --scale-x: 1.05;
    --scale-y: 1.05;
}

.post-list__item article:hover .post-list__title {
    text-decoration: underline;
    text-decoration-color: var(--accent);
}

.post-list__item {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.post-list__item:first-child {
    border-top: 1px solid rgba(230, 230, 230, 1);
    padding-top: 3rem;
}

.post-list__title {
    font-size: var(--text-2xl);
    margin-top: 0.5rem;;
    font-weight: normal;
}

.post-list__meta {
    font-size: var(--text-sm);
    margin-top: 0.5rem;
    color: rgb(117, 117, 117);
}

.post-list__meta > * + * {
    margin-left: 0.75rem;
}

.post-list__excerpt {
    margin: 1rem 0;
    color: rgba(0, 0, 0, 0.8);
}

.post-list__read-more {
    width: fit-content;
    font-size: 1rem;
    text-transform: capitalize;
    text-decoration: underline;
}

.post-list__read-more:hover {
    text-decoration: underline;
    text-decoration-color: var(--accent);
}

.all-posts-link {
    width: 100%;
    display: inline-block;
    margin: 3rem auto 3rem;
    text-align: center;
    font-size: var(--text-lg);
    text-decoration: underline;
    border-bottom: 1px solid rgba(230, 230, 230, 1);
    padding-bottom: 3rem;
}
