.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post > * + * {
    margin-top: 3rem;
}

.post__header {
    text-align: center;
}

.post__header h1:before {
    color: var(--accent);
    content: '//';
    font-weight: 600;
    margin-right: 0.5rem;
}

.post__header .post__feature__image {
    margin-left: -5rem;
    margin-right: -5rem;
}

.post__details {
    opacity: 0.6;
    font-size: 0.9rem;
}

.post__details > * + * {
    margin-left: 0.5rem;
}

.post__content {
    word-wrap: break-word;
}

.post__content img.large {
    margin-left: -10rem;
    margin-right: -10rem;
    width: calc(100% + 20rem);
    max-width: calc(100% + 20rem);
}

.post__content table {
    overflow: hidden;
    border-collapse: separate;
    line-height: 1.65;
}

.post__content table thead tr:first-child {
    background: var(--table-head);
}

.post__content table thead th {
    border-bottom: 1px solid var(--accent-dark);
}

.post__content table tr:nth-child(even) {
    background: var(--table-row-even);
}

.post__aside {
    margin-top: 4rem;
}

.post__aside h3 {
    position: relative;
    opacity: 0.25;
    font-size: var(--text-base);
    font-weight: 400;
    color: var(--gray);
}

.post__aside h3::after {
    content: '';
    position: absolute;
    background: var(--gray);
    width: 88.5965%;
    height: 1px;
    right: 0px;
    top: 11px;
}

.post__tags {
    opacity: 0.8;
    font-size: var(--text-sm);
    margin: 1rem 0;
}

.post__tags a {
    text-decoration: none;
    align-items: center;
    background-color: var(--tags-background);
    border-radius: 0.375em;
    display: inline-flex;
    font-size: 0.8rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
}

.post__tags a:hover {
    color: var(--accent);
}

.post__tags * + * {
    margin-left: 0.5rem;
}

.post__pagination {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__pagination > *:first-child {
    margin-right: 0;
    width: 100%;
}
.post__pagination > *:last-child {
    display: none;
}

.post__pagination > *:only-child {
    margin-right: auto;
    margin-left: auto;
}

.post__pagination a {
    font-weight: normal;
    text-decoration: none;
    min-width: 40%;
    min-height: 8rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 transparent, 0 0 transparent, 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);

    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.3s;

    --scale-x: 1;
    --scale-y: 1;
    transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scaleX(var(--scale-x)) scaleY(var(--scale-y));
}

.post__pagination a:hover {
    --scale-x: 1.05;
    --scale-y: 1.05;
}

.post__pagination a:hover .post__pagination__title {
    text-decoration: underline;
    text-decoration-color: var(--accent);
}

.post__pagination__meta {
    font-size: var(--text-xs);
    margin-top: 0.5rem;
    color: var(--gray);
}

.post__pagination__meta > * + * {
    margin-left: 0.5rem;
}

@media (min-width: 35.9375em) {
    .post__pagination > *:first-child {
        margin-right: 0.5rem;
    }

    .post__pagination > *:last-child {
        margin-left: 0.5rem;
        display: block;
    }
}
