--- 
layout: base
---

<h1 class="mb-4 text-center sm:text-left">All Projects</h1>

<div class="my-4 text-sm opacity-80 text-center sm:text-left">
  {% include "partials/tags-list.njk" %}
</div>

{% set postslist = collections.posts | category("project") %}
{% include "partials/posts-list.njk" %}