--- 
layout: base
---

<h1 class="mb-4 text-3xl">Some of my professional projects</h1>

<div class="my-4 text-sm">
  {% include "partials/tags-list.njk" %}
</div>

{% set postslist = collections.posts | category("work") %}
{% include "partials/posts-list.njk" %}