<footer class="pb-16 px-4 mx-auto max-w-4xl w-full flex flex-col items-center border-t dark:border-gray-500">
    <ul class="flex mt-8" >
      {%- if site.socialLinks %}
        {%- for item in site.socialLinks -%}
          {% set externalAttribute = '' %}
          {% if item.external -%}
            {% set externalAttribute = 'target="_blank" rel="noopener noreferrer"' %}
          {%- endif -%}
          <li class="mr-4 last:mr-0">
            <a href="{{ item.url | url }}" {{ externalAttribute | safe }} data-a11y="false" aria-label="Links to {{ item.url | url }}" class="text-3xl text-cool-green-700 dark:text-cool-green-300 hover:text-cool-green-400 dark:hover:text-cool-green-600 hover:no-underline">
              {% if item.icon -%}
              <i class="{{ item.icon }}"></i>
              <span class="w-0 h-0 invisible opacity-0 overflow-hidden inline-block">Link to {{ item.text }}</span>
              {%- else -%}
              Link to {{ item.text }}
              {%- endif %}
            </a>
          </li>
        {%- endfor -%}
      {%- endif %}
      {%- if site.footerLinks %}
        {%- for item in site.footerLinks -%}
          {% set externalAttribute = '' %}
          {% if item.external -%}
            {% set externalAttribute = 'target="_blank" rel="noopener noreferrer"' %}
          {%- endif -%}
          <li class="mr-4 last:mr-0">
            <a href="{{ item.url | url }}" {{ externalAttribute | safe }} data-a11y="false" aria-label="Links to {{ item.url | url }}" class="text-3xl text-cool-green-700 dark:text-cool-green-300 hover:text-cool-green-400 dark:hover:text-cool-green-600 hover:no-underline">
              {% if item.icon -%}
              <i class="{{ item.icon }}"></i>
              <span class="w-0 h-0 invisible opacity-0 overflow-hidden inline-block">Link to {{ item.text }}</span>
              {%- else -%}
              Link to {{ item.text }}
              {%- endif %}
            </a>
          </li>
        {%- endfor %}
      {%- endif %}
    </ul>
    <p class="mt-8 text-center text-sm">
      <span>© 2018 - {% currentYear %}</span>
      Made by <a href="https://twitter.com/mhaack" target="_blank" rel="noopener">{{ site.author.name }}</a> |
      <a href="/impressum/" aria-label="Impressum">Impressum</a> |
      <a href="/datenschutz/" aria-label="Datenschutz">Datenschutz</a> |
      Built with: <a href="https://www.11ty.dev" target="_blank" rel="noopener">Eleventy</a> & Eleventy Duo Theme
    </p>
</footer>