<footer class="footer">
  <div class="footer__content">
    <ul class="footer__social-links">
      {%- if site.socialLinks %}
        {%- for item in site.socialLinks -%}
          {% set externalAttribute = '' %}
          {% if item.external -%}
            {% set externalAttribute = 'target="_blank" rel="noopener noreferrer"' %}
          {%- endif -%}
          <li>
            <a href="{{ item.url | url }}" {{ externalAttribute | safe }} data-a11y="false" aria-label="Links to {{ item.url | url }}">
              {% if item.icon -%}
              <i class="{{ item.icon }}"></i>
              <span>Link to {{ item.text }}</span>
              {%- else -%}
              Link to {{ item.text }}
              {%- endif %}
            </a>
          </li>
        {%- endfor -%}
      {%- endif %}
      {%- if site.footerLinks %}
        {%- for item in site.footerLinks -%}
          {% set externalAttribute = '' %}
          {% if item.external -%}
            {% set externalAttribute = 'target="_blank" rel="noopener noreferrer"' %}
          {%- endif -%}
          <li>
            <a href="{{ item.url | url }}" {{ externalAttribute | safe }} data-a11y="false" aria-label="Links to {{ item.url | url }}">
              {% if item.icon -%}
              <i class="{{ item.icon }}"></i>
              <span>Link to {{ item.text }}</span>
              {%- else -%}
              Link to {{ item.text }}
              {%- endif %}
            </a>
          </li>
        {%- endfor %}
      {%- endif %}
    </ul>
    <p class="footer__attribution">
      <span>© 2018 - {% currentYear %}</span>
      Made by <a href=\"https://twitter.com/mhaack\" target=\"_blank\" rel=\"noopener\">{{ site.author.name }}</a> |
      <a href=\"/impressum/\" aria-label="Impressum">Impressum</a> |
      <a href=\"/datenschutz/\" aria-label="Datenschutz">Datenschutz</a> |
      Built with: <a href=\"https://www.11ty.dev\" target=\"_blank\" rel=\"noopener\">Eleventy</a> & Eleventy Duo Theme"
    </p>
  </div>
</footer>