  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if ignore -%}
    <meta name="robots" content="noindex">
    {% endif -%}
    <link rel="canonical" href="{{ page.url | url | absoluteUrl(site.url) }}">

    {%- set ogImgSrv = site.url + '/opengraph/default/' -%}
    {%- if layout == 'post' -%}
      {%- set currentPage = collections.all | currentPage(page) -%}
      {%- set desc = currentPage.templateContent | safe | striptags | truncate(140) | escape -%}
      {%- set ogImgSrv = site.url + '/opengraph' + page.url -%}
      {%- set keywords = tags -%}
    {%- endif %}

    <title>{%- if title -%}{{ title | escape }} | {{ site.name }}{%- else -%}{{ site.name }}{%- endif -%}</title>

    <link rel="preload" href="/assets/fonts/ibm-plex-sans-v13-latin-regular.woff2" as="font" type="font/woff2" crossorigin> 
    <link rel="icon" href="/assets/icons/favicon.svg">
    <link rel="mask-icon" href="/assets/icons/favicon.svg" color="#000000">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/manifest.webmanifest">
    <link href="{{ '/assets/css/theme.css' | url }}" rel="stylesheet">
    <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ site.name }}">
    <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ site.name }}">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="{{ description or desc or site.description }}">
    <meta name="keywords" content="{{ keywords or site.keywords }}">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    <meta property="og:title" content="{{ title or site.name | escape }}">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url + page.url }}">
    <meta property="og:description" content="{{ description or desc or site.description }}">
    <meta property="og:image" content="{% opengraphImageSrc ogImgSrv %}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@{{ site.author.twitterHandle | replace('@', '') }}"/>
    <meta name="twitter:image" content="{% opengraphImageSrc ogImgSrv %}">

    {% if env.isProd -%}
    <script defer data-domain="markus-haack.com" src="/assets/js/script.js"></script>
    {%- endif %}
    {%- if layout == 'home' -%}
    <script type="application/ld+json">{"@context":"https://schema.org","@type":"WebSite","url":"https://markus-haack.com/","name":"{{ site.name }}","description":"{{site.description }}"}</script>
    {%- endif %}
    {%- if layout == 'post' -%}
    <script type="application/ld+json">{"@context":"https://schema.org","@type":"Article","@id":"{{ page.url | url | absoluteUrl(site.url) }}","headline":"{{ title | escape }}","image":"{% opengraphImageSrc ogImgSrv %}","datePublished":"{{ date | dateToRfc3339 }}","description":"{{ description or desc or site.description }}","keywords":"{{ keywords }}","author":{"@type":"Person","name":"{{ site.author.name }}", "url":"https://markus-haack.com/about/"}}</script>
    {%- endif %}
  </head>