<header class="px-8 lg:px-32 md:px-16 pb-8 md:pb-16">
  <nav>
    <div class="max-w-6xl flex flex-wrap justify-between items-center mx-auto">
      <a
        href="/"
        data-a11y="false"
        title="Navigate back to the homepage"
        aria-label="Navigate back to the homepage">
        <div class="bg-gray-800 w-32 pt-16 px-4 pb-4 text-white hover:text-burnt-sienna-500">
          {% include 'icons/mh.svg' %}
        </div>
      </a>
      {% if page.url != "/" %}
      <hamburger-menu></hamburger-menu>
      {% set navPages = collections.pages | eleventyNavigation %}
      <div id="menu-mobile" class="hidden w-full md:block md:w-auto">
        <ul class="flex flex-row space-x-8 p-4">
          {% for entry in navPages %}
            {% set currentAttribute = '' %}
            {%- if page.url == entry.url -%}
              {%- set currentAttribute = 'aria-current="page"' -%}
            {%- endif -%}
            <li class="flex my-1 basis-1/3 justify-center">
              <a href="{{ entry.url | url }}" {{- currentAttribute | safe -}} class="{% if page.url == entry.url %}border-blue-dianne-900{% else %}border-slate-100{% endif %} no-underline my-4 p-4 border-b-2 hover:bg-sandy-brown-300 hover:text-blue-dianne-900 hover:no-underline hover:border-blue-dianne-900">{{ entry.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %} 
    </div>
  </nav>
</header>