<header class="px-8 md:px-32 pb-8 md:pb-16">
  <nav>
    <div class="container flex flex-wrap justify-between items-center mx-auto">
      <a
        href="/"
        data-a11y="false"
        title="Navigate back to the homepage"
        aria-label="Navigate back to the homepage"
        back="false">
        <div class="bg-gray-800 w-32 pt-16 px-4 pb-4 text-white hover:text-burnt-sienna-500">
          <svg class="w-20 h-20 fill-current block mx-auto" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <g>
              <path d="M84,5H16C9.9,5,5,9.6,5,15.3V67c0,5.7,4.9,10.3,11,10.3h7.2v15.3c0,0.9,0.6,1.8,1.5,2.2c0.4,0.2,0.7,0.2,1.1,0.2
                c0.6,0,1.2-0.2,1.7-0.5l22.7-17.2H84c6.1,0,11-4.6,11-10.3V15.3C95,9.6,90.1,5,84,5z M89.9,66.9c0,3-2.6,5.4-5.8,5.4H49.2
                c-0.6,0-1.2,0.2-1.7,0.5L28.4,87.3V74.7c0-1.3-1.2-2.4-2.6-2.4h-9.8c-3.2,0-5.8-2.4-5.8-5.4V15.5c0-3,2.6-5.4,5.8-5.4h68.2
                c3.2,0,5.8,2.4,5.8,5.4V66.9z"/>
              <path d="M35.6,49.3l-5.3-23h-8.9v29.2h5.7V35.7c0-0.6,0-1.4,0-2.4c0-1,0-1.8,0-2.4l5.5,24.5h5.9L44,31c0,0.6,0,1.3,0,2.4
                c0,1,0,1.8,0,2.4v19.7h5.7V26.3h-8.8L35.6,49.3z"/>
              <polygon points="72.7,37.4 61.4,37.4 61.4,26.3 55.3,26.3 55.3,55.5 61.4,55.5 61.4,42.5 72.7,42.5 72.7,55.5 78.8,55.5 78.8,26.3
              72.7,26.3"/>
            </g>
          </svg>
        </div>
      </a>
      {% if page.url != "/" %}
      <hamburger-menu></hamburger-menu>
      {% set navPages = collections.pages | eleventyNavigation %}
      <div id="menu-mobile" class="hidden w-full md:block md:w-auto">
        <ul class="flex flex-row space-x-8 p-4">
          {% for entry in navPages %}
            {% set currentAttribute = '' %}
            {%- if page.url == entry.url -%}
              {%- set currentAttribute = 'aria-current="page"' -%}
            {%- endif -%}
            <li class="flex my-1 basis-1/3 justify-center">
              <a href="{{ entry.url | url }}" {{- currentAttribute | safe -}} class="{% if page.url == entry.url %}border-blue-dianne-900{% else %}border-slate-100{% endif %} no-underline my-4 p-4 border-b-2 hover:bg-sandy-brown-300 hover:text-blue-dianne-900 hover:no-underline hover:border-blue-dianne-900">{{ entry.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %} 
    </div>
  </nav>
</header>