<ul class="mx-auto lg:max-w-none">
  {% for post in postslist %}
  {%- set previousyear = currentyear %}
  {%- set currentyear = post.date | year %}

  {%- if currentyear != year and ignoreYear != "true" %}
  <li class="flex justify-between border-dotted border-b-2 border-gray-500 mb-4 pb-2 items-baseline" id="{{ currentyear }}">
    <span>{{ currentyear }}</span>
    <span class="text-xl">×{{ postslist | postCountForYear(currentyear) }}</span>
  </li>
  {%- set year =currentyear %}
  {%- endif %}
  
  <li class="my-2">
    <a href="{{ post.url | url }}" class="no-underline">{{ post.data.title }}</a>
  </li>
{% endfor %}
</ul>
