<ul class="!list-none border-t dark:border-gray-500">
    {% for post in postslist | reverse -%}
        <li class=" mx-auto overflow-hidden rounded-lg shadow-md dark:bg-cool-green-900 mb-6 first:mt-8 transition ease-in-out
                delay-150 duration-300 hover:scale-105 focus:scale-105">
            <a data-a11y="false" href="{{ post.url }}" class="hover:no-underline">
                {% if post.data.image -%}
                    <figure>
                        {% imageNjk post.data.image, post.data.title, "max-h-40 w-full object-cover" %}
                    </figure>
                {% endif %}
                <div class="p-4">
                    <div>
                        <h3 class="block mt-2 text-2xl font-semibold text-primary dark:text-white hover:underline hover:decoration-cool-green-500">
                            {{ post.data.title }}
                        </h3>
                        <span class="text-xs text-gray-500">
                            <time datetime="{{ post.date | htmlDateString }}">
                                {{ post.date | readableDate }}
                            </time>
                            <span class="mx-2">
                                ·
                            </span>
                            <span>{{ post | readingTime }} read</span>
                        </span>
                        <p class="mt-2 text-base text-primary dark:text-gray-100">
                            {%- if post.data.description %}
                                {{ post.data.description }}
                            {% else %}
                                {{ post.templateContent | excerpt | safe }}
                            {% endif -%}
                        </p>
                    </div>
                </div>
            </a>
        </li>
    {% endfor -%}
</ul>