<ul class="mx-auto lg:max-w-none">
  {% for post in postslist %}
  {%- set previousyear = currentyear %}
  {%- set currentyear = post.date | year %}

  {%- if currentyear != year and ignoreYear != "true" %}
  <li class="flex justify-between border-b-4 mb-4" id="{{ currentyear }}">
    <span class="flex items-baseline">
        <span>{{ currentyear }}</span>
        <span><img src="https://v1.sparkline.11ty.dev/80x16/{{ postslist | postCountForMonth(currentyear) }}/{{ '#0a4a32' | encodeUriComponent }}/" width="80" height="16" alt="Post frequency by month in {{ currentyear }}" loading="lazy" decoding="async"></span>
    </span>
  {%- if postslist %}
    <span>×{{ postslist | postCountForYear(currentyear) }}</span>
  {%- endif %}
  </li>
  {%- set year =currentyear %}
  {%- endif %}
  
  <li class="my-2">
    <a href="{{ post.url | url }}" class="no-underline">{{ post.data.title }}</a>
  </li>
{% endfor %}
</ul>
