<ul class="!list-none">
  {% for post in postslist | reverse -%}
    <li class="flex flex-col pb-4 pt-4 first:pt-12 first:border-t">
      <a data-a11y="false" href="{{ post.url }}" class="rounded-lg shadow-lg transition ease-in-out delay-150 hover:scale-105 duration-300 no-underline p-4 first:mr-2 last:ml-2 only:mx-auto min-h-[8rem] min-w-[40%] hover:no-underline">
        <article class="">
          <h3 class="mt-2 text-2xl hover:underline hover:decoration-accent">
            {{ post.data.title }}
          </h3>
          <div class="mt-2 text-sm text-gray-400 font-light">
            <time datetime="{{ post.date | htmlDateString }}">
              {{- post.date | readableDate -}}
            </time>
            <span class="mx-2"> · </span>
            <span>{{ post | readingTime }} read</span>
          </div>
          <p class="my-4">
          {%- if post.data.description %}
            {{ post.data.description }}
          {% else %}
            {{ post.templateContent | excerpt | safe }}
          {% endif -%}
          </p>
        </article>
      </a>
    </li>
  {% endfor -%}
</ul>