{% for tag in tags | pageTags %}
    {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
    <a alt="tagged {{ tag }}" aria-label="tagged {{ tag }}" href="{{ tagUrl | url }}" class="inline-flex items-center px-3 py-2 mt-2 mr-2 last:mr-0 text-sm font-normal text-slate-700 bg-slate-100 rounded-full no-underline hover:text-slate-800 hover:bg-mountain-100">{{ tag }}</a>
{% endfor %}